<div id="wrapper">
    <div id="pagepiling">
        <div class="page-section">
            <header class="fheader">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="widget pull-left clearfix">
                                <div class="terminal">>></div>
                            </div><!-- end widget -->
                            <div class="widget pull-left clearfix">
                                <div class="main-title line-1 anim-typewriter">Art's Front End Labz</div>
                            </div><!-- end widget -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </header><!-- end header -->
            <div class="landing-image">
                <img class="object-fit_contain" src="https://upload-assets.vice.com/files/2016/03/12/14578219652016_01_23_cloud_computing.gif">
            </div>
        </div> <!-- page-section -->
        <div class="page-section">
            <div id="main-wrap">
                <div id="about">
                    <a href="#" class="nav-link">About me</a>
                    <div class="inner">
                        <div class="profile">
                            <img src="<%= asset_path( 'profilepic.png' ) %>" />
                        </div>
                        <h1>
                            Arturo Perez
                            <small>Software Engineer</small>
                        </h1>
                        <div class="divider"></div>
                        <p>
                            I like to build stuff, but mostly break them :)
                        </p>
                        <div class="divider"></div>
                        <button>Download Resume</button>
                    </div>
                </div><!-- #about -->
            </div> <!-- #main wrap -->
        </div> <!-- .page-section -->
    </div> <!-- .page-piling -->
</div> <!-- .wrapper -->
