<div id="wrapper">
    <header class="fheader">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="widget pull-left clearfix">
                            <div class="terminal">>></div>
                      </div><!-- end widget -->
                      <div class="widget pull-left clearfix">
                            <div class="main-title line-1 anim-typewriter">Mini Projects >:)</div>
                      </div><!-- end widget -->
                  </div><!-- end col -->
              </div><!-- end row -->
          </div><!-- end container -->
      </header><!-- end header -->
      <div class="image">
        <img class="object-fit_contain" src="https://upload-assets.vice.com/files/2016/03/12/14578219652016_01_23_cloud_computing.gif">
      </div>
</div>
