<div id="wrapper">
<img src="<%= asset_path( 'thinking.gif' ) %>" alt="" class="img-responsive bg">
    <header class="fheader">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="widget pull-right clearfix">
                          <div class="p-menu">
                            <h1 class="main-title line-1 anim-typewriter">Mini Projects >:)</h1>
                          </div><!-- end custom-menu -->
                      </div><!-- end widget -->
                  </div><!-- end col -->
              </div><!-- end row -->
          </div><!-- end container -->
      </header><!-- end header -->

</div>
</div>
