/* ======================================================================= */
/* GALLERY3D SKIN
/* ======================================================================= */

@import "compass/css3";

$color: #ef4135;

#main-wrap{
	font: normal normal 13px/1.6em "Open Sans", Arial, sans-serif;

	#main-overlay{
		background: rgba(255, 255, 255, 0.75);
	}
}

/* ======================================================================= */
/* LOGO
/* ======================================================================= */

/* ----- logo ----- */

#logo{
	p{
		font: 600 italic 11px/16px "Open Sans", Arial, sans-serif;
		color: #999;
	}
}

/* ======================================================================= */
/* BASE
/* ======================================================================= */

h1, h2, h3, h4, h5, h6{
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	color: #fff;

	small{
		font-family: "Open Sans", Arial, sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		word-spacing: 2px;
		color: $color;
	}
}

button{
	&,
	&[disabled],
	&[disabled]:hover{
		font: normal normal 13px/1.7em "Open Sans", Arial, sans-serif;
		text-transform: uppercase;
		color: #fff;
		border: 1px solid #0A0D11;
		background: #0A0D11;
		@include border-radius(5px);
		@include transition(all 200ms ease-out);
	}

	&:hover{
		border-color: $color;
		background: $color;
	}

	&[type="reset"]{
		&,
		&[disabled],
		&[disabled]:hover{
			color: #3D3E41;
			border: 1px solid #181C20;
			background: transparent;
		}

		&:hover{
			color: #fff;
			border-color: #fff;
		}
	}
}

form{
	label{
		span{
			font: normal normal 12px/1.6em "Open Sans", Arial, sans-serif;
			text-transform: uppercase;
			color: #fff;
		}
	}

	input[type="text"],
	textarea{
		font: normal normal 13px/1.3em "Open Sans", Arial, sans-serif;
		color: #999;
		background: #0A0D11;
		@include border-radius(5px);
		@include transition(color 200ms ease-out, background 200ms ease-out);

		&:focus{
			color: #fff;
			background: rgba(5, 8, 12, 1);
		}
	}
}

/* ======================================================================= */
/* ABOUT/CONTACT
/* ======================================================================= */

#about,
#contact{
	color: #999;
	background: rgba(15, 18, 22, 1);

	.nav-link{
		font: normal normal 12px/40px "Open Sans", Arial, sans-serif;
		text-transform: uppercase;
		color: #999;
		background: #0F1216;
		@include border-radius(5px);
		@include transition(background 200ms ease-out);

		&:hover{
			color: #fff;
			background: $color;
		}
	}
}

#contact{
	.contact-form-success,
	.contact-form-failure{
		padding-top: 90px;

		&:before{
			content: "\e030";
			display: block;
			width: 60px;
			height: 60px;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -30px;
			font: normal normal 16px/60px gallery3d;
			color: #fff;
			background: #181C20;
			@include border-radius(99px);
		}
	}

	.contact-form-failure{
		&:before{
			content: "\e146";
		}
	}

	form{
		input,
		textarea{
			border: 2px solid transparent;

			&.invalid{
				border-color: #900;
			}
		}

		button,
		label{
			@include transition(all 200ms ease-out);
			@include transform(translate3d(0, 0, 0));
		}
		
		&.sending{
			&:before{
				content: "";
				display: block;
				width: 60px;
				height: 60px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -30px;
				margin-left: -30px;
				z-index: 9;
				background: url(../img/loading-large.gif) center center no-repeat #181C20;
				@include border-radius(99px);
			}
		}
	}
}

.copyright{
	font: 600 normal 12px/1.7em "Open Sans", Arial, sans-serif;
	color: #444;
}

.divider{
	border-color: #181C20;
}

/* ======================================================================= */
/* GALLERY3D
/* ======================================================================= */

/* ----- gallery3d ----- */

.gallery3d{
	top: -36px;
	padding-bottom: 36px;
	@include transform(translate3d(0, 0, 0));
}

/* ----- nav ----- */

.gallery3d-nav{
	bottom: 20px;
	@include transform(translate3d(0, 0, 0));

	.gallery3d-nav-link{
		font: 600 normal 11px/26px "Open Sans", Arial, sans-serif;
		text-transform: uppercase;
		color: #666;
		background: #e6e6e6;
		@include border-radius(99px);
		@include transition(all 200ms ease-out);
		
 		&:hover{
			color: #333;
			background: #d6d6d6;
		}

		&.active{
			color: #fff;
			background: #0F1216;
		}
	}
}

/* ----- pagination ----- */

.gallery3d-pagination-controls{
	@include transition(opacity 200ms ease-out);

	li{
		a{
			background: #C0C4C9;
			@include border-radius(5px);
			@include transition(all 200ms ease-out);

			&:hover{
				background: #3D3E3F;
			}
		}

		&.active a{
			background: #3D3E3F;
		}
	}
}

.gallery3d-pagination-next,
.gallery3d-pagination-prev{
	background: #3D3E3F;
	@include border-radius(99px);
	@include transform(scale(1) translate3d(0, 0, 0));
	@include transition(all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550), background 200ms ease-out, opacity 200ms ease-in 100ms);

	&:hover{
		background: $color;
	}

	&:before{
		color: #fff;
	}
}

.gallery3d.loading-items .gallery3d-pagination-next,
.gallery3d.loading-items .gallery3d-pagination-prev{
	@include transform(scale(0) translate3d(0, 0, 0));
	@include transition(all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550), background 200ms ease-out, opacity 200ms ease-in);
}

.gallery3d-pagination-max .gallery3d-pagination-next,
.gallery3d-pagination-min .gallery3d-pagination-prev{
	background: #3D3E3F;
}

/* ----- colorbox ----- */

#cboxOverlay{
	background: #000;
}

#cboxClose,
#cboxNext,
#cboxPrevious{
	border: none;
	background: rgba(255, 255, 255, 0);
	@include border-radius(99px);
	@include transform(scale(1) translate3d(0,0,0));
	@include transition(all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550), background 200ms ease-out, opacity 200ms ease-in 100ms);

	&:hover{
		background: $color;
	}

	&:before{
		color: #fff;
	}
}

#cboxTitle{
	font: 300 normal 20px/50px "Open Sans", Arial, sans-serif;
	color: #ccc;
}

#cboxCurrent{
	font: normal normal 16px/50px "Open Sans", Arial, sans-serif;
	color: #666;
}

#cboxLoadingGraphic{
	background: url(../img/loading-large.gif) center center no-repeat #0F1216;
	@include border-radius(40px);
}

/* ----- single item ----- */

.gallery3d-item{
	$w: 36px;
	$s: 16px;

	/* item content holder */

	.gallery3d-item-content{
		background: #0F1216;
	}

	/* hover (icon) */

	.gallery3d-item-hover{
		width: $w;
		height: $w;
		margin-left: -0.5*$w;
		margin-top: -0.5*$w;
		background: $color;
		opacity: 0;
		@include transform(scale(0));
		@include transition(all 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275));
		@include border-radius(99px);

		&:before{
			content: "\e602"; /* plus icon */
			display: block;
			width: $s;
			height: $s;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -0.5*$s;
			margin-top: -0.5*$s;
			font: normal normal #{$s}/#{$s} gallery3d;
			color: #fff;
		}
	}

	&:hover .gallery3d-item-hover{
		opacity: 1;
		@include transform(scale(1));
	}

	/* hover (video icon) */

	&[data-type="video"] .gallery3d-item-hover{
		&:before{
			content: "\e603";
			margin-left: -0.5*$s;
		}
	}

	/* hover (overlay & border) */

	.gallery3d-item-content:before,
	.gallery3d-item-content:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		outline: 1px solid transparent;
		background: $color;
		@include transition(all 200ms cubic-bezier(0.600, -0.280, 0.735, 0.045));
	}

	.gallery3d-item-content:after{
		z-index: -1;
		margin: -3px;
		padding: 3px;
		@include transform(scale(0.9));
	}

	&:hover .gallery3d-item-content:before,
	&.active .gallery3d-item-content:before,
	&.active .gallery3d-item-content:after,
	&.disabled.active .gallery3d-item-content:before,
	&.disabled.active .gallery3d-item-content:after{
		display: block;
		opacity: 0.25;
		@include transition(all 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275));
	}

	/* disabled */

	&.disabled{
		.gallery3d-item-content:before,
		.gallery3d-item-content:after{
			display: none;
		}
	}

	/* active */

	&.active,
	&.disabled.active{
		.gallery3d-item-content:after{
			opacity: 1;
			@include transform(scale(1));
		}

		.gallery3d-item-hover{
			opacity: 0;
			@include transform(scale(0));
		}
	}

	/* placeholder */

	&.gallery3d-item-placeholder,
	&.gallery3d-item-placeholder:hover{
		.gallery3d-item-content:before,
		.gallery3d-item-content:after{
			display: none;
		}

		.gallery3d-item-hover{
			display: none;
		}
	}

}

/* ----- preview ----- */

.gallery3d-preview{

	/* preview content types */

	.gallery3d-preview-image,
	.gallery3d-preview-video{
		background: #0F1216;
	}

	/* image preview */

	.gallery3d-preview-image{
		&:before,
		&:after{
			opacity: 0;
			@include transition(all 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 200ms ease-out);
		}

		&:before{
			$w: 48px;
			$s: 24px;
			content: "\e1b2"; /* eye icon */
			display: block;
			width: $w;
			height: $w;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -0.5*$w;
			margin-top: -0.5*$w;
			z-index: 2;
			opacity: 0;
			text-align: center;
			font: normal normal #{$s}/#{$w} gallery3d;
			color: #fff;
			background: $color;
			@include transform(scale(0));
			@include border-radius(99px);
		}

		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background: $color;
		}

		&:hover{
			&:before{
				opacity: 1;
				@include transform(scale(1));
			}


			&:after{
				opacity: 0.25;
			}
		}

		.gallery3d-preview-overlay{
			background: #000;
		}
	}

	&.active .gallery3d-preview-image{
		&:before,
		&:after{
			opacity: 0;
		}
	}
}

/* ----- loading preview animation ----- */

.gallery3d-preview-loading{
	display: block;
	$w: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: $w;
	height: $w;
	margin-left: -0.5*$w;
	margin-top: -0.5*$w;
	opacity: 0;
	background: url(../img/loading-large.gif) center center no-repeat #0F1216;
	@include border-radius(0.5*$w);
	@include transform(scale(0) translate3d(0, 0, 0));
	@include transition(all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550), opacity 200ms ease-in);

	.gallery3d.loading-preview &{
		opacity: 1;
		@include transform(scale(1) translate3d(0, 0, 0));
		@include transition(all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550), opacity 200ms ease-in 100ms);
	}
}