.object-fit_contain {
    height: 57em;
    background-color: #444;
    display: block;
    width: auto;
    margin: auto;
    object-fit: contain;
}

.max-height{height:100vh;}

.main-title,
.terminal {
    position: relative;
    background: clear;
    margin: 12px auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: white;
    font-family: "Courier";
}

.main-title {
    font-size: 4em;
}

.terminal {
    font-size: 2em;
    margin-right: .6em;
}

.fheader {
    line-height:65px;
    position:absolute;
    z-index:99;
    padding:40px 0;
    top:0;
    width:100%;
}

#section-one {
    background-color: #212121;
}

#section-two {
    background-image: url(https://i.ytimg.com/vi/wRl7kdM75Tw/maxresdefault.jpg);
}
