body{
      background-color: #212121;
}

img {
    height: 57em;
    background-color: #444;
    display: block;
    width: auto;
    margin: auto;
}
.object-fit_contain { object-fit: contain }

.max-height{height:100vh;}

.main-title {
    position: relative;
    background: clear;
    margin: 12px auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 4em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: white;
    font-family: "Courier";
}

/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(44) 1s 1 normal both,
             blinkTextCursor 0ms steps(44) infinite normal;
}

@keyframes typewriter {
  from{width: 0;}
  to{width: 10.3em;}
}

.fheader {
    line-height:65px;
    position:absolute;
    z-index:99;
    padding:40px 0;
    top:0;
    width:100%;
}


