  <div id="wrapper">
      <header class="fheader">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="widget pull-right clearfix">
                          <div class="p-menu">
                              <span><a href="#about">About</i></a></span>
                              <span><a href="#projects">Projects</i></a></span>
                              <span><a href="#contact">Contact</a></span>
                              <span><a href="/imgs/ArturoPerezResume.pdf">Resume</a></span>
                          </div><!-- end custom-menu -->
                      </div><!-- end widget -->
                  </div><!-- end col -->
              </div><!-- end row -->
          </div><!-- end container -->
      </header><!-- end header -->

      <section class="meta-wrapper max-height section-parallax" style="background-image: url(imgs/apple-office.jpg);" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="0" alt="Vrturo.io">
          <div id="page_header">
              <div class="container text-center">
                  <div id="large-header" class="large-header">
                      <div class="message">
                        <h1 class="main-title">Arturo Perez</h1>
                        <p class="mini-title">Welcome to the Arturo's <span>Portfolio</span></p>
                      </div>
                  </div>
              </div>
          </div><!-- end page_header -->
      </section><!-- end section -->
      <br><br>
      <!-- start builder -->
      <section id="about"class="full-image-section clearfix">
                <div class="pull-left image-container col-lg-4 clearfix">
                  <div class="background-image-wrapper wow slideInUp animated" style="visibility: visible; animation-name: slideInUp;">
                        <img class="background-image" alt="" src="imgs/profilepic.png">
                  </div>
                </div>
                  <div class="container">
                      <div class="row-fluid">
                              <div class="row">
                                  <div class="col-lg-offset-6">
                                        <div class="mini-title">
                                          <div>
                                            <h2>Arturo<span>Perez</span></h2>
                                        </div>
                                          <div class="service-style-1 clearfix">
                                              <div class="title">
                                                  <h3> About ME</h3>
                                                  <p style="color: black">Full stack Web Developer with a Sales and Marketing background. Always open to new ideas and opportunities. I'm no stranger to learning new languages or Frameworks and value growth over recognition and comfort. I'd love to learn more from others in my community. Feel free to connect with me! </p>
                                              </div><!-- end desctip -->
                                          </div><!-- end service-style-1 -->
                                  </div><!-- end col -->
                              </div><!-- end row -->
                          </div><!-- end col -->
                </div><!-- end container -->
            </div><!-- end row -->
        </section><!-- end section white -->
        <br><br>

        <section id="projects" syle="background: black"class="page-white bgpatttern clearfix">
          <div class="section-title">
              <h3>Recent Projects</h3>
              <h4 style="color: #03acdc">Click on a Project to see Github source</h4>
          </div><!-- end section title -->
      </section><!-- end section white -->

      <section class="logos-section">
            <h3 style="text-align:center">Technologies:</h3>
            <div class="container">
                <div class="row">
                    <div class="col-lg-1">
                        <img src="imgs/html5.png" alt="" class="img-responsive">
                        <small>HTML5</small>
                    </div>
                    <div class="col-lg-1">
                        <img src="imgs/css3.png" alt="" class="img-responsive">
                        <small>CSS3</small>
                    </div>
                    <div class="col-lg-1">
                        <img src="imgs/ruby_rough.png" alt="" class="img-responsive">
                        <small>Ruby</small>
                    </div>
                    <div class="col-lg-1">
                        <img src="imgs/javascript.png" alt="" class="img-responsive">
                        <small>Javascript</small>
                    </div>
                    <div class="col-lg-1">
                        <img src="imgs/ror.png" alt="" class="img-responsive">
                        <small>Ruby on Rails</small>
                    </div>
                    <div class="col-lg-1">
                        <img src="imgs/nodejs.png" alt="" class="img-responsive">
                        <small>Node.js</small>
                    </div>
                    <div class="col-lg-1">
                        <img src="imgs/npm.png" alt="" class="img-responsive">
                        <small>npm</small>
                    </div>
                    <div class="col-lg-1">
                        <img src="imgs/mongodb.png" alt="" class="img-responsive">
                        <small>MongoDB</small>
                    </div>
                    <div class="col-lg-1">
                        <img src="imgs/react.png" alt="" class="img-responsive">
                        <small>React</small>
                    </div>
                    <div class="col-lg-1">
                        <img src="imgs/bootstrap.png" alt="" class="img-responsive">
                        <small>Bootstrap</small>
                    </div>
                    <div class="col-lg-1">
                        <img src="imgs/firebase.png" alt="" class="img-responsive">
                        <small>Firebase</small>
                    </div>
                    <div class="col-lg-1">
                        <img src="imgs/heroku.png" alt="" class="img-responsive">
                        <small>Heroku</small>
                    </div>
                </div>
            </div>
        </section><!-- end logos-section -->


      <section class="section-white clearfix nopadding">
          <div class="mixed masonry_wrapper wow fadeInUp">
          <div class="row">
            <div class="col-md-6">
                <div class="item">
                    <figure class="effect-chico">
                          <img src="imgs/landingpage.png" alt="" class="img-responsive">
                        <figcaption>
                            <h2 style="color: #03acdc">The Hufts</h2>
                            <p style="color: black"><strong>TheHufts is currently a stock training platform to help potential and current investors enhance their investing strategies.</strong> </p>
                            <a href="https://github.com/arcman77/TheHufts">View more</a>
                        </figcaption>
                    </figure>
                </div>
              </div>
              <div class="col-md-6">
                <div class="item">
                  <figure class="effect-chico">
                        <img src="imgs/baceform.png" alt="" class="img-responsive">
                      <figcaption>
                          <h2 style="color: #03acdc">B.A.C.E.(Blood Alcohol Estimator)</h2>
                          <p style="color: black;"><strong>B.A.C.E. uses Uber's API and lets users know an estimate of what their BAC(blood alcohol content) would be based on an algorithm from the info they put in. If their BAC is too high it recommends they order an Uber ride home. </strong></p>
                          <a href="https://github.com/Vrturo/B.A.C.E.">View more</a>
                      </figcaption>
                  </figure>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                <div class="item">
              <figure class="effect-chico">
                  <img src="imgs/daGame.png"alt="" class="img-responsive">
                  <img src="imgs/daGamePlayers.jpg"alt="" class="img-responsive">
                        <figcaption>
                            <h2 style="color: #03acdc">THE GAME</h2>
                            <p style="color: black"><strong>'The Game' is a 2D Multiplayer Side-scrolling Shooting game built using MongoDB, NodeJS, ExpressJS, Socket.IO, and Phaser</strong></p>
                            <a href="https://github.com/cpbasham/TheGame-0.2">View more</a>
                        </figcaption>
                    </figure>
                  </div>
            </div>
            <div class="col-md-6">
                 <div class="item">
                    <figure class="effect-chico">
                          <img src="imgs/chatdbc.png" alt="" class="img-responsive">
                        <figcaption>
                            <h2 style="color: #03acdc">Chat DBC</h2>
                            <p style="color: black"><strong>ChatDBC is a realtime single page messaging app that uses React on the front end and rails on the back</strong></p>
                            <a href="https://github.com/Vrturo/ChatDBC">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
          </div>
           <div class="row">
              <div class="col-md-6">
                   <div class="item">
                      <figure class="effect-chico">
                            <img src="imgs/caltrain.png" alt="" class="img-responsive">
                          <figcaption>
                              <h2 style="color: #03acdc">Departure Times</h2>
                              <p style="color: black"><strong>Departure Times is an uber challenge that offers a service, that gives real-time departure times for public transportation (using freely available public API). The app geolocalizes the user and shares the departure times of Caltrain.</strong></p>
                              <a href="https://github.com/Vrturo/DepartureTimes">View more</a>
                          </figcaption>
                      </figure>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="item">
                <figure class="effect-chico">
                    <img src="imgs/algo-gem2.png"alt="" class="img-responsive">
                          <figcaption>
                              <h2 style="color: #03acdc">Algo-Gem</h2>
                              <p style="color: black"><strong>Algo-Gem is a gem that overwrites the Array class and is able to implement different type methods, by applying them to any Array, so the user can choose and apply an algorithmic method quickly for the best case scenario.</strong></p>
                              <a href="https://github.com/Vrturo/Algo-Gem">View more</a>
                          </figcaption>
                      </figure>
                    </div>
              </div>
          </div>
          </div><!-- end masonry_wrapper -->
      </section><!-- end section -->

    <footer id="footer-second" class="footer dark-footer clearfix">
      <div id="contact" class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 square-service">
                        <div class="widget">
                        <span class="icon-container border-radius color-blue wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-map-marker"></i></span>
                        <h3>Location</h3>
                        <p style="color: #fff"><strong>San Francisco, Ca</strong></p>
                        </div>
                    </div><!-- end col -->

                    <div class="col-md-3 col-sm-3 col-xs-12 square-service">
                        <div class="widget">
                        <span class="icon-container border-radius color-green wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-phone"></i></span>
                        <h3>Phone Number</h3>
                        <p style="color: #fff;"><strong>Cell Phone: 818-521-2467</strong></p>
                        </div>
                    </div><!-- end col -->

                    <div class="col-md-3 col-sm-3 col-xs-12 square-service">
                        <div class="widget">
                        <span class="icon-container border-radius color-purple wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-envelope-o"></i></span>
                        <h3>E-Mail</h3>
                        <p style="color: #fff"><strong>VrturoPerez@gmail.com</strong></p>
                        </div>
                    </div><!-- end col -->

                    <div class="col-md-3 col-sm-3 col-xs-12 square-service">
                        <div class="widget">
                          <span class="icon-container border-radius color-red wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-sticky-note"></i></span>
                          <h3>Resume</h3>
                          <a href="/imgs/ArturoPerezResume.pdf" style="color: #fff;"><strong>Click to View</strong></a>
                          <div class="row">
                            <a href="/imgs/ArturoPerezResume.pdf" style="color: #fff;" download><strong>Click to Download!</strong></a>
                          </div>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12">
                      <div class="widget text-center wow fadeIn">
                          <div class="about-widget">
                              <div class="social-icons clearfix">
                                  <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Linked In" href="https://linkedin.com/in/Vrturo"><i class="fa fa-linkedin"></i></a></span>
                                  <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Github" href="github.com/Vrturo"><i class="fa fa-github"></i></a></span>
                                  <span><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Twitter" href="https://twitter.com/vrturoperez"><i class="fa fa-twitter"></i></a></span>
                              </div><!-- end social icons -->
                          </div><!-- end about-widget -->
                      </div><!-- end widget -->
                  </div><!-- end col-lg-3 -->
              </div><!-- end row -->
          </div><!-- end container -->
      </footer><!-- end footer -->

  </div>
  <!-- /#wrapper -->

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/retina.js"></script>
  <script src="js/text-rotate.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/jquery.stellar.js"></script>
  <script src="js/home-scripts.js"></script>

  <!-- Portfolio -->
  <script src="js/jquery.isotope.min.js"></script>

